@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.btn {
  @apply bg-white text-gray-800 font-medium px-4 py-2 rounded-lg hover:bg-gray-100 transition;
}
nav button:hover {
    color: #a044ff;
    transform: scale(1.1);
    transition: all 0.3s ease;
  }
  